# Objective: Given a Bank customer, can we build a classifier which can determine whether they will leave or not using Neural networks?

# 1. Read the dataset

In [67]:
# Importing basic Python packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [68]:
bank_data_df = pd.read_csv('bank.csv')
bank_data_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [69]:
bank_data_df.shape

(10000, 14)

# 2. Drop the columns which are unique for all users like IDs

In [70]:
bank_data_df = bank_data_df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [71]:
bank_data_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [72]:
bank_data_df.shape

(10000, 11)

# 3. Distinguish the feature and target set

In [73]:
# Defining y as the feature that indicates if the customer has exited or not
y = bank_data_df['Exited']
y.shape

(10000,)

In [74]:
# Defining X as the rest of the features
X = bank_data_df.drop(['Exited'],axis=1)
X.shape

(10000, 10)

In [75]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
5             645     Spain    Male   44       8  113755.78              2
6             822    France    Male   50       7       0.00              2
7             376   Germany  Female   29       4  115046.74              4
8             501    France    Male   44       4  142051.07              2
9             684    France    Male   27       2  134603.88              1
10            528    France    Male   31       6  102016.72              2
11            497     Spain    Male   24       3       0.00              2
12            476    France  Female   34      10       0.00              2
13            549    France  Female   25       5       0.00              2
14            635     Spain  Female   35       7       0.00              2
15            616   Germany    Male   45       3  143129.41              2
16            653   Germany    Male   58       1  132602.88              1
17            549     Spain  Female   24       9       0.00              2
18            587     Spain    Male   45       6       0.00              1
19            726    France  Female   24       6       0.00              2
20            732    France    Male   41       8       0.00              2
21            636     Spain  Female   32       8       0.00              2
22            510     Spain  Female   38       4       0.00              1
23            669    France    Male   46       3       0.00              2
24            846    France  Female   38       5       0.00              1
25            577    France    Male   25       3       0.00              2
26            756   Germany    Male   36       2  136815.64              1
27            571    France    Male   44       9       0.00              2
28            574   Germany  Female   43       3  141349.43              1
29            411    France    Male   29       0   59697.17              2
...           ...       ...     ...  ...     ...        ...            ...
9970          518    France    Male   42       7  151027.05              2
9971          833    France  Female   34       3  144751.81              1
9972          758    France    Male   26       4  155739.76              1
9973          611    France    Male   27       7       0.00              2
9974          583    France    Male   33       7  122531.86              1
9975          610   Germany    Male   50       1  113957.01              2
9976          637    France  Female   33       7  103377.81              1
9977          683    France  Female   32       9       0.00              2
9978          774    France    Male   40       9   93017.47              2
9979          677    France  Female   58       1   90022.85              1
9980          741     Spain    Male   35       6   74371.49              1
9981          498   Germany    Male   42       3  152039.70              1
9982          655   Germany  Female   46       7  137145.12              1
9983          613    France    Male   40       4       0.00              1
9984          602   Germany    Male   35       7   90602.42              2
9985          659    France    Male   36       6  123841.49              2
9986          673   Germany    Male   47       1  183579.54              2
9987          606     Spain    Male   30       8  180307.73              2
9988          775    France    Male   30       4       0.00              2
9989          841     Spain    Male   28       4       0.00              2
9990          714   Germany    Male   33       3   35016.60              1
9991          597    France  Female   53       4   88381.21              1
9992          726     Spain    Male   36       2       0.00              1
9993          644    France    Male   28       7  155060.41              1
9994          800    France  Female   29       2       0.00              2
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
5             1               0        149756.71
6             1               1         10062.80
7             1               0        119346.88
8             0               1         74940.50
9             1               1         71725.73
10            0               0         80181.12
11            1               0         76390.01
12            1               0         26260.98
13            0               0        190857.79
14            1               1         65951.65
15            0               1         64327.26
16            1               0          5097.67
17            1               1         14406.41
18            0               0        158684.81
19            1               1         54724.03
20            1               1        170886.17
21            1               0        138555.46
22            1               0        118913.53
23            0               1          8487.75
24            1               1        187616.16
25            0               1        124508.29
26            1               1        170041.95
27            0               0         38433.35
28            1               1        100187.43
29            1               1         53483.21
...         ...             ...              ...
9970          1               0        119377.36
9971          0               0        166472.81
9972          1               0        171552.02
9973          1               1        157474.10
9974          1               0         13549.24
9975          1               0        196526.55
9976          1               0         84419.78
9977          1               1         24991.92
9978          1               0        191608.97
9979          0               1          2988.28
9980          0               0         99595.67
9981          1               1         53445.17
9982          1               0        115146.40
9983          0               0        151325.24
9984          1               1         51695.41
9985          1               0         96833.00
9986          0               1         34047.54
9987          1               1          1914.41
9988          1               0         49337.84
9989          1               1        179436.60
9990          1               0         53667.08
9991          1               0         69384.71
9992          1               0        195192.40
9993          1               0         29179.52
9994          0               0        167773.55
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [76]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# First encoding Geography
labelEnc_1 = LabelEncoder()
X['Geography'] = labelEnc_1.fit_transform(X['Geography'])

# Now encoding Gender
labelEnc_2 = LabelEncoder()
X['Gender'] = labelEnc_2.fit_transform(X['Gender'])

In [77]:
print(X)

      CreditScore  Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619          0       0   42       2       0.00              1
1             608          2       0   41       1   83807.86              1
2             502          0       0   42       8  159660.80              3
3             699          0       0   39       1       0.00              2
4             850          2       0   43       2  125510.82              1
5             645          2       1   44       8  113755.78              2
6             822          0       1   50       7       0.00              2
7             376          1       0   29       4  115046.74              4
8             501          0       1   44       4  142051.07              2
9             684          0       1   27       2  134603.88              1
10            528          0       1   31       6  102016.72              2
11            497          2       1   24       3       0.00              2
12            476          0       0   34      10       0.00              2
13            549          0       0   25       5       0.00              2
14            635          2       0   35       7       0.00              2
15            616          1       1   45       3  143129.41              2
16            653          1       1   58       1  132602.88              1
17            549          2       0   24       9       0.00              2
18            587          2       1   45       6       0.00              1
19            726          0       0   24       6       0.00              2
20            732          0       1   41       8       0.00              2
21            636          2       0   32       8       0.00              2
22            510          2       0   38       4       0.00              1
23            669          0       1   46       3       0.00              2
24            846          0       0   38       5       0.00              1
25            577          0       1   25       3       0.00              2
26            756          1       1   36       2  136815.64              1
27            571          0       1   44       9       0.00              2
28            574          1       0   43       3  141349.43              1
29            411          0       1   29       0   59697.17              2
...           ...        ...     ...  ...     ...        ...            ...
9970          518          0       1   42       7  151027.05              2
9971          833          0       0   34       3  144751.81              1
9972          758          0       1   26       4  155739.76              1
9973          611          0       1   27       7       0.00              2
9974          583          0       1   33       7  122531.86              1
9975          610          1       1   50       1  113957.01              2
9976          637          0       0   33       7  103377.81              1
9977          683          0       0   32       9       0.00              2
9978          774          0       1   40       9   93017.47              2
9979          677          0       0   58       1   90022.85              1
9980          741          2       1   35       6   74371.49              1
9981          498          1       1   42       3  152039.70              1
9982          655          1       0   46       7  137145.12              1
9983          613          0       1   40       4       0.00              1
9984          602          1       1   35       7   90602.42              2
9985          659          0       1   36       6  123841.49              2
9986          673          1       1   47       1  183579.54              2
9987          606          2       1   30       8  180307.73              2
9988          775          0       1   30       4       0.00              2
9989          841          2       1   28       4       0.00              2
9990          714          1       1   33       3   35016.60              1
9991          597          0       0   53       4   88381.21              1
9992          726          2       1   36       2       0.00              1
9993          644          0       1   28       7  155060.41              1
9994          800          0       0   29       2       0.00              2
9995          771          0       1   39       5       0.00              2
9996          516          0       1   35      10   57369.61              1
9997          709          0       0   36       7       0.00              1
9998          772          1       1   42       3   75075.31              2
9999          792          0       0   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
5             1               0        149756.71
6             1               1         10062.80
7             1               0        119346.88
8             0               1         74940.50
9             1               1         71725.73
10            0               0         80181.12
11            1               0         76390.01
12            1               0         26260.98
13            0               0        190857.79
14            1               1         65951.65
15            0               1         64327.26
16            1               0          5097.67
17            1               1         14406.41
18            0               0        158684.81
19            1               1         54724.03
20            1               1        170886.17
21            1               0        138555.46
22            1               0        118913.53
23            0               1          8487.75
24            1               1        187616.16
25            0               1        124508.29
26            1               1        170041.95
27            0               0         38433.35
28            1               1        100187.43
29            1               1         53483.21
...         ...             ...              ...
9970          1               0        119377.36
9971          0               0        166472.81
9972          1               0        171552.02
9973          1               1        157474.10
9974          1               0         13549.24
9975          1               0        196526.55
9976          1               0         84419.78
9977          1               1         24991.92
9978          1               0        191608.97
9979          0               1          2988.28
9980          0               0         99595.67
9981          1               1         53445.17
9982          1               0        115146.40
9983          0               0        151325.24
9984          1               1         51695.41
9985          1               0         96833.00
9986          0               1         34047.54
9987          1               1          1914.41
9988          1               0         49337.84
9989          1               1        179436.60
9990          1               0         53667.08
9991          1               0         69384.71
9992          1               0        195192.40
9993          1               0         29179.52
9994          0               0        167773.55
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [78]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[:, 1:]

In [79]:
print(X)

[[0.0000000e+00 0.0000000e+00 6.1900000e+02 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 1.0000000e+00 6.0800000e+02 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [0.0000000e+00 0.0000000e+00 5.0200000e+02 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [0.0000000e+00 0.0000000e+00 7.0900000e+02 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [1.0000000e+00 0.0000000e+00 7.7200000e+02 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [0.0000000e+00 0.0000000e+00 7.9200000e+02 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

# 4. Divide the data set into Train and test sets

In [80]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# 5. Normalize the train and test data

In [81]:
from sklearn.preprocessing import StandardScaler
stdScaler = StandardScaler()
X_train = stdScaler.fit_transform(X_train)
X_test = stdScaler.transform(X_test)

# 6. Initialize & build the model

In [82]:
import tensorflow as tf
model = tf.keras.models.Sequential()

In [83]:
# Adding the input layer and the first hidden layer
model.add(tf.keras.layers.Dense(6,input_dim=11,activation='relu'))

WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [84]:
# Adding the second hidden layer
model.add(tf.keras.layers.Dense(6,activation='relu'))

In [85]:
# Output layer
model.add(tf.keras.layers.Dense(1,activation = 'sigmoid'))

# 7. Optimize the model

In [86]:
# Create optimizer with non-default learning rate
sgd_optimizer = tf.keras.optimizers.SGD(lr=0.03)

In [87]:
# Compile the model
model.compile(optimizer=sgd_optimizer, loss = 'binary_crossentropy', metrics = ['accuracy'])

In [88]:
# Fit the model
model.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:The `nb_epoch` argument in `fit` has been renamed `epochs`.
WARNING:tensorflow:From /anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
7000/7000 [==============================] - 2s 262us/sample - loss: 0.4825 - acc: 0.7940
Epoch 2/100
7000/7000 [==============================] - 2s 240us/sample - loss: 0.4355 - acc: 0.7986
Epoch 3/100
7000/7000 [==============================] - 2s 269us/sample - loss: 0.4230 - acc: 0.8050
Epoch 4/100
7000/7000 [==============================] - 2s 303us/sample - loss: 0.4144 - acc: 0.8167
Epoch 5/100
7000/7000 [==============================] - 2s 254us/sample - loss: 0.4032 - acc: 0.8274
Epoch 6/100
7000/7000 [==============================] - 2s 244us/sample - loss: 0.3838 - acc: 0.8383
Epoch 7/100
7000/7000 [==============================] - 1s 180us/sample - loss: 0.3623 - acc: 0.8514
Epoch 8/100
7000/7000 [==============================] - 1s 179us/sample - loss: 0.3535 - acc: 0.8544
Epoch 9/100
7000/7000 [==============================] - 2s 251us/sample - loss: 0.3507 - acc: 0.8534
Epoch 10/100
7000/7000 [==============================] - 2s 220us/sample - loss: 0.3503 - acc: 0.8553
Epoch 11/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3468 - acc: 0.8546
Epoch 12/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3468 - acc: 0.8534
Epoch 13/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3445 - acc: 0.8550
Epoch 14/100
7000/7000 [==============================] - 1s 179us/sample - loss: 0.3439 - acc: 0.8566
Epoch 15/100
7000/7000 [==============================] - ETA: 0s - loss: 0.3445 - acc: 0.853 - 1s 213us/sample - loss: 0.3432 - acc: 0.8544
Epoch 16/100
7000/7000 [==============================] - 2s 222us/sample - loss: 0.3425 - acc: 0.8604
Epoch 17/100
7000/7000 [==============================] - 2s 238us/sample - loss: 0.3421 - acc: 0.8587
Epoch 18/100
7000/7000 [==============================] - 1s 180us/sample - loss: 0.3403 - acc: 0.8609
Epoch 19/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3394 - acc: 0.8597
Epoch 20/100
7000/7000 [==============================] - 1s 156us/sample - loss: 0.3397 - acc: 0.8617
Epoch 21/100
7000/7000 [==============================] - 1s 174us/sample - loss: 0.3390 - acc: 0.8597s - loss: 0.3363 - acc
Epoch 22/100
7000/7000 [==============================] - 1s 182us/sample - loss: 0.3391 - acc: 0.8616
Epoch 23/100
7000/7000 [==============================] - 1s 186us/sample - loss: 0.3388 - acc: 0.8617
Epoch 24/100
7000/7000 [==============================] - 1s 208us/sample - loss: 0.3374 - acc: 0.8594
Epoch 25/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3382 - acc: 0.8597
Epoch 26/100
7000/7000 [==============================] - 1s 192us/sample - loss: 0.3373 - acc: 0.8583
Epoch 27/100
7000/7000 [==============================] - 1s 179us/sample - loss: 0.3369 - acc: 0.8621
Epoch 28/100
7000/7000 [==============================] - 1s 175us/sample - loss: 0.3359 - acc: 0.8619
Epoch 29/100
7000/7000 [==============================] - 1s 164us/sample - loss: 0.3357 - acc: 0.8631
Epoch 30/100
7000/7000 [==============================] - 1s 168us/sample - loss: 0.3358 - acc: 0.8626
Epoch 31/100
7000/7000 [==============================] - 1s 167us/sample - loss: 0.3349 - acc: 0.8614
Epoch 32/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3355 - acc: 0.8634
Epoch 33/100
7000/7000 [==============================] - 1s 197us/sample - loss: 0.3354 - acc: 0.8613
Epoch 34/100
7000/7000 [==============================] - 1s 186us/sample - loss: 0.3350 - acc: 0.8639
Epoch 35/100
7000/7000 [==============================] - 2s 235us/sample - loss: 0.3344 - acc: 0.8647
Epoch 36/100
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3345 - acc: 0.8619
Epoch 37/100
7000/7000 [==============================] - 1s 156us/sample - loss: 0.3341 - acc: 0.8607
Epoch 38/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3347 - acc: 0.8636
Epoch 39/100
7000/7000 [==============================] - 1s 156us/sample - loss: 0.3337 - acc: 0.8646
Epoch 40/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3336 - acc: 0.8641
Epoch 41/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3324 - acc: 0.8639
Epoch 42/100
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3330 - acc: 0.8634
Epoch 43/100
7000/7000 [==============================] - 1s 138us/sample - loss: 0.3328 - acc: 0.8637
Epoch 44/100
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3317 - acc: 0.8627
Epoch 45/100
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3327 - acc: 0.8646
Epoch 46/100
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3317 - acc: 0.8643
Epoch 47/100
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3329 - acc: 0.8627
Epoch 48/100
7000/7000 [==============================] - 1s 169us/sample - loss: 0.3326 - acc: 0.8619
Epoch 49/100
7000/7000 [==============================] - 1s 150us/sample - loss: 0.3327 - acc: 0.8637
Epoch 50/100
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3316 - acc: 0.8637
Epoch 51/100
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3317 - acc: 0.8610
Epoch 52/100
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3317 - acc: 0.8630
Epoch 53/100
7000/7000 [==============================] - 1s 166us/sample - loss: 0.3311 - acc: 0.8627
Epoch 54/100
7000/7000 [==============================] - 1s 136us/sample - loss: 0.3312 - acc: 0.8630
Epoch 55/100
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3313 - acc: 0.8617
Epoch 56/100
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3302 - acc: 0.8639
Epoch 57/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3312 - acc: 0.8631
Epoch 58/100
7000/7000 [==============================] - 1s 192us/sample - loss: 0.3299 - acc: 0.8623
Epoch 59/100
7000/7000 [==============================] - 1s 154us/sample - loss: 0.3301 - acc: 0.8621s - loss: 0.3334 - acc:
Epoch 60/100
7000/7000 [==============================] - 1s 153us/sample - loss: 0.3288 - acc: 0.8621
Epoch 61/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3296 - acc: 0.8620
Epoch 62/100
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3297 - acc: 0.8617
Epoch 63/100
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3296 - acc: 0.8613
Epoch 64/100
7000/7000 [==============================] - 1s 140us/sample - loss: 0.3293 - acc: 0.8627
Epoch 65/100
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3292 - acc: 0.8643
Epoch 66/100
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3288 - acc: 0.8626
Epoch 67/100
7000/7000 [==============================] - 1s 140us/sample - loss: 0.3285 - acc: 0.8637
Epoch 68/100
7000/7000 [==============================] - 1s 139us/sample - loss: 0.3296 - acc: 0.8631
Epoch 69/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3290 - acc: 0.8631
Epoch 70/100
7000/7000 [==============================] - 1s 136us/sample - loss: 0.3295 - acc: 0.8626
Epoch 71/100
7000/7000 [==============================] - 1s 148us/sample - loss: 0.3286 - acc: 0.8646
Epoch 72/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3285 - acc: 0.8623
Epoch 73/100
7000/7000 [==============================] - 1s 139us/sample - loss: 0.3288 - acc: 0.8631
Epoch 74/100
7000/7000 [==============================] - 1s 137us/sample - loss: 0.3284 - acc: 0.8611
Epoch 75/100
7000/7000 [==============================] - 1s 134us/sample - loss: 0.3276 - acc: 0.8644
Epoch 76/100
7000/7000 [==============================] - 1s 146us/sample - loss: 0.3285 - acc: 0.8631
Epoch 77/100
7000/7000 [==============================] - 1s 140us/sample - loss: 0.3274 - acc: 0.8634
Epoch 78/100
7000/7000 [==============================] - 1s 138us/sample - loss: 0.3286 - acc: 0.8626
Epoch 79/100
7000/7000 [==============================] - 1s 141us/sample - loss: 0.3291 - acc: 0.8633
Epoch 80/100
7000/7000 [==============================] - 1s 143us/sample - loss: 0.3278 - acc: 0.8647
Epoch 81/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3279 - acc: 0.8650
Epoch 82/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3275 - acc: 0.8623
Epoch 83/100
7000/7000 [==============================] - 1s 145us/sample - loss: 0.3280 - acc: 0.8656
Epoch 84/100
7000/7000 [==============================] - 1s 149us/sample - loss: 0.3279 - acc: 0.8644
Epoch 85/100
7000/7000 [==============================] - 1s 158us/sample - loss: 0.3277 - acc: 0.8623
Epoch 86/100
7000/7000 [==============================] - 1s 172us/sample - loss: 0.3275 - acc: 0.8637s - loss: 0.3281 - acc: 0.863
Epoch 87/100
7000/7000 [==============================] - 1s 159us/sample - loss: 0.3279 - acc: 0.8617s - loss: 0.3293 - acc: 0. - ETA: 0s - loss: 0.3263 - acc: 0.
Epoch 88/100
7000/7000 [==============================] - 1s 155us/sample - loss: 0.3276 - acc: 0.8641
Epoch 89/100
7000/7000 [==============================] - 1s 161us/sample - loss: 0.3275 - acc: 0.8647
Epoch 90/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3274 - acc: 0.8650
Epoch 91/100
7000/7000 [==============================] - 1s 152us/sample - loss: 0.3276 - acc: 0.8649
Epoch 92/100
7000/7000 [==============================] - 1s 139us/sample - loss: 0.3270 - acc: 0.8644
Epoch 93/100
7000/7000 [==============================] - 1s 140us/sample - loss: 0.3285 - acc: 0.8633
Epoch 94/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3276 - acc: 0.8654
Epoch 95/100
7000/7000 [==============================] - 1s 141us/sample - loss: 0.3271 - acc: 0.8639
Epoch 96/100
7000/7000 [==============================] - 1s 139us/sample - loss: 0.3271 - acc: 0.8627
Epoch 97/100
7000/7000 [==============================] - 1s 140us/sample - loss: 0.3268 - acc: 0.8654
Epoch 98/100
7000/7000 [==============================] - 1s 147us/sample - loss: 0.3272 - acc: 0.8643
Epoch 99/100
7000/7000 [==============================] - 1s 143us/sample - loss: 0.3266 - acc: 0.8646
Epoch 100/100
7000/7000 [==============================] - 1s 138us/sample - loss: 0.3266 - acc: 0.8656

# 8. Predict the results using 0.5 as a threshold

In [89]:
threshold = 0.5
y_pred = model.predict(X_test)
y_pred = (y_pred > 0.5)

In [90]:
print(y_pred)

[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

# 9. Print the Accuracy score and confusion matrix

In [91]:
from sklearn.metrics import confusion_matrix
ConfMatrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix: \n{}".format(ConfMatrix))

Confusion Matrix:
[[2260  113]
 [ 301  326]]

In [92]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [93]:
# Printing the accuracy
print("Accuracy is {:.2f}%".format(accuracy*100))

Accuracy is 86.20%